<nav class="grey darken-3">
	<div class="nav-wrapper">
		<a href="/about" class="brand-logo center">
			About Us
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/" class="">Home</a></li>
		</ul>
	</div>
</nav>
<div class="profWrap valign-wrapper">
	<div class="profiles">
		<div class="card horizontal">
			<div class="card-image">
				<img src="/images/andrei.jpg" alt="Andrei Rotariu">
			</div>
			<div class="card-content valign-wrapper">
				<blockquote>
					<div>
						<div class="personal-details">
							<h5>Andrei Rotariu</h5>
							<i>Co-founder of Whiskypedia</i>
						</div>
						<b>Student ID: </b><span>51876039</span>
						<br>
						<b>Quote: </b><span>"I know HTML. How To Meet Ladies."</span>
					</div>
					<br>
				</blockquote>
			</div>
		</div>
		<div class="card horizontal">
			<div class="card-image">
				<img src="/images/valerio.jpg" alt="Valerio Bucci">
			</div>
			<div class="card-content valign-wrapper">
				<blockquote>
					<div>
						<div class="personal-details">
							<h5>Valerio Bucci</h5>
							<i>Co-founder of Whiskypedia</i>
						</div>
						<b>Student ID: </b><span>51875080</span>
						<br>
						<b>Quote: </b><span>"I'm an expert in Cider Security"</span>
					</div>
					<br>
				</blockquote>
			</div>
		</div>
	</div>
</div>
