<div class="gameContainer">
	<div class="maxHeight valign-wrapper">
		<table class="playingGrid">
			<% for i in 1..6 %>
				<tr>
				<% for k in 1..7 %>
					<td></td>
				<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
