<nav class="grey darken-3">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">
			#Connect4Fun
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/about" class="">About</a></li>
		</ul>
	</div>
</nav>
<div id="pageBody" class="card">
	<div id="homeMain" class="valign-wrapper center">
		<div class="card-content">
				<h3 class="grey-text text-darken-4">
					<div class="welcomeText">
						<div>Welcome to C</div>
						<div id="spinningToken"></div>
						<div>NNECT 4!</div>
					</div>
				</h3>
				<div class="card-action">
					<a id="startGame" class="waves-effect waves-light btn-large activator">Click here to start playing</a>
				</div>
		</div>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
		<div id="playingField"></div>
	</div>
</div>
